# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Conda environment folders
.conda/

# Ignore virtual environments
env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
